header {
  max-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: linear-gradient(
    to right,
    #f2f9ff 33%,
    #eef7ff 33% 67%,
    #e9f5ff 67%
  );

  nav {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      align-items: center;

      li {
        margin-left: 8rem;

        a {
          color: #1989eb;
          font-weight: 800;

          transition: all 200ms ease-in-out;

          &:hover {
            color: #047be4aa;
          }
        }
        a.active {
          color: #0f0f0f;

          &:hover {
            color: #0f0f0faa;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1440px) {
  header {
    nav {
      width: 70%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  header {
    nav {
      width: 80%;
    }
  }
}
@media only screen and (max-width: 900px) {
  header {
    nav {
      width: 90%;
      ul {
        display: none;
      }
    }
  }
}
